/* select divs with (.)
*/


.firstDiv {
    color: blue;
}

.secondDiv {
    color: red;
}

/* select ids with #
*/

#singledout {
    color: green;
    text-decoration: line-through;
}

/* 
Selects the first <ul> element that is placed immediately after <h3> elements
*/

h3 + ul {
    border: 4px dotted purple;
}

/* Selects all <a> elements inside <li> elements */

li a[href="https://www.youtube.com/watch?v=Obl893OJnko"] {
    color: blue;
    border: 5px solid orange;
}